//Modules and Variables
//@import "partials/base";

//Partials
//@import "partials/reset";
//@import "partials/typography";
//@import "partials/buttons";
//@import "partials/figures";
//@import "partials/grids";

// Third-party ./vendor
@import "vendor/_meyer-reset.scss";
@import "base/variables.scss";
@import "base/typographies.scss";
@import "base/mixins.scss";
@import "component/backgrounds.scss";


$debug : false;

img, embed, object, video{
  max-width:100%;
}
//END RESET and SETUP

a {
  text-decoration: none;
  color : $light-gray;
  &:hover { 
    color: $black;
  }
}

body, html, main{
  height:100%;
}

body {
  line-height: 1.6875;
  font-family: 'openSans';

  @include respond-to(sm) {
    font-size:90%;
  }
  @include respond-to(md) {
    font-size:100%
  }
  @include respond-to(lg) {
    font-size:120%;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'amaticSC'
}


h1 {
  @include respond-to(sm) {
    font-size:250%;
  }
    font-size:210%;
}

h2 {
  @include respond-to(sm) {
    font-size:160%;
  }
  @include respond-to(md) {
    font-size:170%
  }
  @include respond-to(lg) {
    font-size:190%;
  }
}

p {
  max-width: 960px;
    padding-left: 10%;
    padding-right: 10%;
}

p:first-child ~p{
  padding-top: 3%;
}

.content {
  padding-top: 5%;
  padding-bottom:7%;
}

i {
  font-style:italic;
}