@font-face {
  font-family:'akkurat';
  src: url('Akkurat-Mono.ttf');
}

@font-face {
  font-family:'amaticSC';
  src: url('AmaticSC-Regular.ttf');
}

@font-face {
  font-family:'amaticSC';
  src: url('AmaticSC-Bold.ttf');
  font-weight:bold;
}


@font-face {
  font-family:'openSans';
  src: url('OpenSans-Light.ttf');
}

@font-face {
  font-family:'openSans';
  src: url('OpenSans-Regular.ttf');
  font-weight:bold;
}

@font-face {
  font-family:'openSans';
  src: url('OpenSans-LightItalic.ttf');
  font-style:italic;
}
